{% extends 'myapp/base.html' %}

{% block content %}
<div class="forum-page-header">
    <div>
        <h1>Змінити пароль</h1>
        <p class="page-description">Отримай тимчасовий код на email.</p>
    </div>

    <a href="{% url 'home' %}" class="back-btn">На головну</a>
</div>

<section class="reply-box">
    <form method="post" class="forum-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>

        <button type="submit" class="add-topic-btn">Надіслати код</button>
    </form>
</section>
{% endblock %}